* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;

}
body {
  background: #F7FAFC;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
};
